<ion-header>
  <ion-toolbar>
    <ion-back-button slot="start">
    </ion-back-button>
    <ion-title>Update Guest Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="4" class="go-away"></ion-col>
      <ion-col>
        <ion-item>
          <ion-label position="floating">
            Name
          </ion-label>
          <ion-input type="text" [(ngModel)]="guest.name" required></ion-input>
        </ion-item>
      
        <ion-item>
          <ion-label position="floating">
            Email
          </ion-label>
          <ion-input type="email" autocomplete="email" [(ngModel)]="guest.email" required></ion-input>
        </ion-item>
      
        <ion-list>
          <ion-radio-group name="gender" [value]="guest.gender" (ionChange)="selectedGender($event)">
            <ion-list-header>
              <ion-label>Gender</ion-label>
            </ion-list-header>
            <ion-item>
              <ion-label>Male</ion-label>
              <ion-radio value="m"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>Female</ion-label>
              <ion-radio value="f"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>Non-Binary</ion-label>
              <ion-radio value="n"></ion-radio>
            </ion-item>
          </ion-radio-group>
        </ion-list>
      
        <ion-list>
          <ion-radio-group name="rsvp" [value]="guest.response" (ionChange)="selectedRSVP($event)">
            <ion-list-header>
              <ion-label>RSVP:</ion-label>
            </ion-list-header>
            <ion-item>
              <ion-label>Going</ion-label>
              <ion-radio value="Going"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>Not Going</ion-label>
              <ion-radio value="Not Going"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>Waiting</ion-label>
              <ion-radio value="Waiting"></ion-radio>
            </ion-item>
          </ion-radio-group>
        </ion-list>
      
        <ion-button class="ion-padding" color="primary" expand="full" (click)="updateGuest()" shape="round">Update Guest</ion-button>
      
      </ion-col>
      <ion-col size="4" class="go-away"></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
