<ion-header>
  <ion-toolbar>
    <ion-back-button slot="start">
    </ion-back-button>
    <ion-title>Edit Event Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item>
    <ion-label position="floating">
      Title
    </ion-label>
    <ion-input type="text" [(ngModel)]="event.title" required></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Description</ion-label>
    <ion-textarea [(ngModel)]="event.details" placeholder="Optional" maxlength="100"></ion-textarea>
  </ion-item>

  <ion-item>
    <ion-label position="floating">
      Venue
    </ion-label>
    <ion-input type="text" [(ngModel)]="event.venue" placeholder="Optional"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">DATE</ion-label>
    <ion-datetime displayFormat="MM/DD/YYYY" min="2020" max="2030" [(ngModel)]="event.date" required></ion-datetime>
  </ion-item>

  <ion-item>
    <ion-label position="floating">TIME</ion-label>
    <ion-datetime displayFormat="h:mm a" [(ngModel)]="event.time" required></ion-datetime>
  </ion-item>

  <ion-button class="ion-padding" color="primary" expand="full" (click)="updateEvent(event)">Update</ion-button>

  <!-- <ion-button class="ion-padding" color="light" expand="full" [routerLink]="['/home', uid]">Events List</ion-button> -->

</ion-content>
