<ion-header>
  <ion-toolbar>
    <ion-back-button slot="start">
    </ion-back-button>
    <ion-title>eventDetails</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col class="column" size="12" size-sm *ngFor="let item of items">
        <ion-card>
          <ion-card-header>
            <ion-card-title>
              Title
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            {{item}}
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequuntur odit vel officiis autem ut animi perspiciatis aspernatur voluptates repellat labore!</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
