<ion-header>
  <ion-toolbar color="primary">
    <ion-back-button slot="start">
    </ion-back-button>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<!-- The form is wrapped in an ion-grid with at least one row and three columns.
      A media query is being used to remove the columns for medium to small screens -->

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="4" class="go-away"></ion-col>
      <ion-col>
        <div class="app-title ion-text-center">Eventually</div>
      </ion-col>
      <ion-col size="4" class="go-away"></ion-col>
    </ion-row>
    
    <ion-row>
      <ion-col size="4" class="go-away"></ion-col>
      <ion-col>
        <ion-item>
          <ion-label position="floating">
            Email
          </ion-label>
          <ion-input type="email" autocomplete="email" [(ngModel)]="user.email" required></ion-input>
        </ion-item>
      
        <ion-item>
          <ion-label position="floating">
            Password
          </ion-label>
          <ion-input type="password" [(ngModel)]="user.password" required></ion-input>
        </ion-item>
      
        <ion-button class="ion-padding" color="primary" expand="full" (click)="register(user)" shape="round">Register</ion-button>
      </ion-col>
      <ion-col size="4" class="go-away"></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
