<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Events</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-card [routerLink]="['/event-details']">
      <ion-item>
        <ion-icon name="pin" slot="start"></ion-icon>
        <ion-label>Event Title</ion-label>
        <ion-button fill="outline" slot="end">Details</ion-button>
      </ion-item>
    
      <ion-card-content>
        Some kind of content goes here
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>
